Pandas DataFrame //
Create DataFrame

In [1]:
import pandas as pd
import numpy as np

In [3]:
# Create a DataFrame through a two-dimensional array
df1 = pd.DataFrame([
    ['joe', 'san', 'andy'], 
    [70, 80, 90],
])
df1

     0    1     2
0  joe  san  andy
1   70   80    90

In [7]:
# Create a DataFrame with index
df2 = pd.DataFrame([
    ['joe', 'san', 'andy'], 
    [70, 80, 90],
], index = ['first', 'second'],     # index parameter for ROW index
    columns =['a', 'b', 'c'] )      # columns parameter for COLUMN index

df2

          a    b     c
first   joe  san  andy
second   70   80    90

In [8]:
df2.index

Index(['first', 'second'], dtype='object')

In [10]:
df2.columns

Index(['a', 'b', 'c'], dtype='object')

In [11]:
df2.values

array([['joe', 'san', 'andy'],
       [70, 80, 90]], dtype=object)

In [4]:
# Create a DataFrame through a dictionary
df3 = pd.DataFrame({
    'name': ['joe', 'san', 'andy'],     # 'key' becomes COLUMN index
    'sex': ['male', 'male', 'female'],
    'age':[10, 20, 30],
    'id': 3,
}, index = ['first', 'second', 'third']) # "index" parameter defines ROW index
df3

        name     sex  age  id
first    joe    male   10   3
second   san    male   20   3
third   andy  female   30   3

In [12]:
df3.index

NameError: name 'df3' is not defined